.xans-myshop-orderhistorylistpast .order { position:relative; }
.xans-myshop-orderhistorylistpast .order h3 { overflow:hidden; padding:20px 0 20px 15px; font-size:13px; background-color:#f6f6f6; border-top:1px solid #000; }
.xans-myshop-orderhistorylistpast .order .date { font-weight:bold; }
.xans-myshop-orderhistorylistpast .btnDetail { position:absolute; top:19px; right:19px; }

/********************* Mobile / Tablet *********************/
/* @media all and (max-width:1024px) {
    .xans-myshop-orderhistorylistpast .order h3 { margin:50px 0 0; }
} */

/********************* PC *********************/
/* @media all and (min-width:1025px) {
    .xans-myshop-orderhistorylistpast .order h3 { margin:60px 0 0; }
} */

.xans-myshop-orderhistorylistpast .order { position:relative; }
.xans-myshop-orderhistorylistpast .order__number { overflow:hidden; padding:12px 10px; font-size:12px; background-color:var(--neutral-50); border-top:1px solid #000; }
.xans-myshop-orderhistorylistpast .order:first-child .order__number { margin-top:0; }
.xans-myshop-orderhistorylistpast .order__number .date { font-weight:bold;line-height: 1.5;margin-bottom: 2px;display: block; }
.xans-myshop-orderhistorylistpast .order__number .number { font-weight: 500;color: var(--neutral-300); line-height: 1.5; }
.xans-myshop-orderhistorylistpast .btnDetail { position:absolute; top:16px; right:10px;display: flex;align-items: center;gap: 4px; font-size: 12px;font-weight: 500;color: var(--neutral-700); }
.xans-myshop-orderhistorylistpast .btnDetail .icoArrowRight { width: 12px;height: 12px; }
.xans-myshop-orderhistorylistpast .request { position:relative; overflow:hidden; padding:25px 0 0; text-align:right; }
.xans-myshop-orderhistorylistpast .ec-base-prdInfo .payDetail {display:flex;flex-direction:row-reverse;padding:0 0 18px 0;line-height:26px;font-size:13px;}
.xans-myshop-orderhistorylistpast .ec-base-prdInfo .payDetail .gRight {float:right;text-align:right;}
.xans-myshop-orderhistorylistpast .ec-base-prdInfo .payDetail strong {font-weight:400;}
.xans-myshop-orderhistorylistpast .ec-base-prdInfo .payDetail .title:before {content:" = ";line-height:26px;font-size:13px;color:#000;padding:0 5px;font-family:Arial, sans-serif !important;}
.xans-myshop-orderhistorylistpast .ec-base-prdInfo .payDetail .title > strong {margin-right:5px;}

.xans-myshop-orderhistorylistpast .order__number { margin:30px 0 0; }
/********************* Mobile / Tablet *********************/
@media all and (max-width:1024px) {
    .xans-myshop-orderhistorylistpast .request { padding:25px 16px; }

	.xans-myshop-orderhistorylistpast .ec-base-prdInfo .payDetail {display:block;padding:18px 16px;line-height:26px;font-size:12px;border-top:1px solid #e5e5e5;}
	.xans-myshop-orderhistorylistpast .ec-base-prdInfo .payDetail .title {font-size:14px;margin-bottom:10px;}
	.xans-myshop-orderhistorylistpast .ec-base-prdInfo .payDetail .title:before {display:none;}
	.xans-myshop-orderhistorylistpast .ec-base-prdInfo .payDetail .title .gRight strong {font-weight:700;}
	.xans-myshop-orderhistorylistpast .ec-base-prdInfo .payDetail .contents {word-break:keep-all;}
}

/********************* PC *********************/
@media all and (min-width:1025px) {
    /* .xans-myshop-orderhistorylistpast .order__number { margin:60px 0 0; } */

}

