@charset "utf-8"; 

/******************************************* 

주문내역_리스트

*******************************************/

/* 탭 */
.myshopArea .ec-base-tab {border-bottom: 1px solid var(--line-normal);}
.myshopArea .ec-base-tab .menu {display: flex;align-items: center;justify-content: center;padding: 0 16px;}
.myshopArea .ec-base-tab .menu li {display: inline-flex;align-items: center;justify-content: center;width: 100%;}
.myshopArea .ec-base-tab .menu li a {height: 40px;padding: 12px 0;font-size: 14px;font-weight: 600;line-height: 2;letter-spacing: -.4%; text-align: center;color: var(--neutral-300);line-height: 1;}
.myshopArea .ec-base-tab .menu li.selected a {width: 100%;border-bottom: 2px solid var(--brand-color); font-weight: 700;color: var(--neutral-900);}

.orderHistory-info {padding: 12px 20px;background: var(--coolNeutral-50);}
.orderHistory-info li a{display: inline; font-weight: 600;}

/* 리스트 */
#wrap .xans-myshop-orderhistorylistitem .order .order__number {border-top: 1px solid #000;}
#wrap .ec-base-prdInfo .prdBox {gap: 16px; padding: 26px 0 0;}
#wrap .ec-base-prdInfo .thumbnail {width: 120px;height: 120px;margin: 0; border: 1px solid var(--line-normal);border-radius: 12px;overflow: hidden;}
#wrap .ec-base-prdInfo .description .prdName {margin-bottom: 6px;font-size: 12px;font-weight: 500;line-height: 1.5;letter-spacing: -0.0.48px; color: var(--common-black);}
#wrap .ec-base-prdInfo .description .price, 
#wrap .ec-base-prdInfo .description .price li, 
#wrap .ec-base-prdInfo .description .price strong {font-size: 12px;font-weight: 700;line-height: 1.5;color: var(--common-black);}
#wrap .ec-base-prdInfo .optionGroup {font-size: 12px;color: var(--neutral-600);}
#wrap .prdFoot {padding: 4px; margin-bottom: 12px;border-top: none;line-height: 32px;}
#wrap .prdFoot .txtStatus {font-size: 14px;font-weight: 500;color: var(--neutral-400);}
#wrap .ec-base-prdInfo .payDetail {display: block;padding: 16px 10px;border-top: 1px solid var(--line-normal);}
#wrap .ec-base-prdInfo .payDetail .title {margin-bottom: 6px;}
#wrap .ec-base-prdInfo .payDetail .title strong{font-size: 12px;font-weight: 600;line-height: 1.5;letter-spacing: -.4%;color: var(--common-black);}
#wrap .ec-base-prdInfo .payDetail .title:before {display: none;}
#wrap .ec-base-prdInfo .payDetail .contents {font-size: 12px;font-weight: 500;color: var(--neutral-700);}

/* 취소/환불/교환버튼 */
.order-cs-btn {display: flex;justify-content: end;margin: 12px 0 20px !important;}



/******************************************* 

주문취소,교환,환불

*******************************************/
.xans-myshop-orderhistoryapplycancel,
.xans-myshop-orderhistoryapplyreturn,
.xans-myshop-orderhistoryapplyexchange {margin-top: 20px;}
.xans-myshop-orderhistoryapplycancel .ec-base-prdInfo,
.xans-myshop-orderhistoryapplyreturn .ec-base-prdInfo,
.xans-myshop-orderhistoryapplyexchange .ec-base-prdInfo{padding: 12px 0 0;}
#wrap .xans-myshop-orderhistoryapplycancel .ec-base-prdInfo .prdBox,
#wrap .xans-myshop-orderhistoryapplyreturn .ec-base-prdInfo .prdBox,
#wrap .xans-myshop-orderhistoryapplyexchange .ec-base-prdInfo .prdBox
{padding: 10px 0 0;}
.xans-myshop-orderhistoryapplycancel .ec-base-prdInfo.gCheck .quantity,
.xans-myshop-orderhistoryapplyreturn .ec-base-prdInfo.gCheck .quantity,
.xans-myshop-orderhistoryapplyexchange .ec-base-prdInfo.gCheck .quantity
{padding-left: 0px; margin: 0;}
.xans-myshop-orderhistoryapplycancel .ec-base-prdInfo .check,
.xans-myshop-orderhistoryapplyreturn .ec-base-prdInfo .check,
.xans-myshop-orderhistoryapplyexchange .ec-base-prdInfo .check{width: 24px;}
/* .xans-myshop-orderhistoryapplycancel .ec-base-prdInfo .check,
.xans-myshop-orderhistoryapplycancel .ec-base-prdInfo .thumbnail,
.xans-myshop-orderhistoryapplycancel .ec-base-prdInfo .description {margin: 0;} */
#wrap .ec-base-prdInfo .optionGroup {margin: 6px 0 12px;}

.xans-myshop-orderhistoryapplycancel .ec-base-table.typeWrite tbody,
.xans-myshop-orderhistoryapplyreturn .ec-base-table.typeWrite tbody,
.xans-myshop-orderhistoryapplyexchange .ec-base-table.typeWrite tbody{display: block;}

.xans-myshop-orderhistoryapplycancel .ec-base-table.typeWrite tbody tr,
.xans-myshop-orderhistoryapplyreturn .ec-base-table.typeWrite tbody tr,
.xans-myshop-orderhistoryapplyexchange .ec-base-table.typeWrite tbody tr {display: flex;flex-direction: column;}

.xans-myshop-orderhistoryapplycancel .ec-base-table.typeWrite tbody th,
.xans-myshop-orderhistoryapplyreturn .ec-base-table.typeWrite tbody th,
.xans-myshop-orderhistoryapplyexchange .ec-base-table.typeWrite tbody th {background: transparent;border: none;padding: 0 4px 4px;font-size: 14px;font-weight: 500;color: var(--neutral-600);}

.xans-myshop-orderhistoryapplycancel .ec-base-table.typeWrite tbody td,
.xans-myshop-orderhistoryapplyreturn .ec-base-table.typeWrite tbody td,
.xans-myshop-orderhistoryapplyexchange .ec-base-table.typeWrite tbody td {padding: 0 0 12px !important;border: none;}

.xans-myshop-orderhistoryapplycancel .ec-base-table.typeWrite tbody td select,
.xans-myshop-orderhistoryapplyreturn .ec-base-table.typeWrite tbody td select,
.xans-myshop-orderhistoryapplyexchange .ec-base-table.typeWrite tbody td select {width: 100% !important;}

.exchange-help-info .inner {border-top: none !important;}