<!--@css(/_aisoul/layout/layout.css)-->
<header class="header main-header" data-ez="module-190ix7t-1">
  <div class="inner-m header-inner">
    <div class="h-left">
      <button type="button" class="menu-btn"><!--@import(/_aisoul/svg/menu.html)--><i class="sr-only">메뉴열기</i></button>
      <div class="cart-wrap" module="Layout_shoppingInfo"><a href="/order/basket.html"><!--@import(/_aisoul/svg/cart.html)--><i class="sr-only">
            장바구니</i><strong>{$basket_cnt}<span class="{$use_basket_price|display}">({$basket_price})</span></strong></a>
      </div>
    </div>
    <h1 class="logo" module="Layout_LogoTop"><a href="/">{$mall_name}</a></h1>
    <div class="h-right">
      <button type="button" class="main-close"><!--@import(/_aisoul/svg/close.html)--><i class="sr-only">닫기</i></button>
    </div>
  </div>
</header>
<div class="sidebar-viewport" data-ez="module-0wu3fyi-1" data-ez-module="user-defined/1" data-ez-name="USER DEFINED" data-ez-type="plain"><!--@import(/_aisoul/layout/sidebar.html)--></div>
<div class="sidebar-dim" data-ez="module-0tycec7-1" data-ez-module="user-defined/1" data-ez-name="USER DEFINED" data-ez-type="plain"></div>
<!--#ez="1/2"-->