<!--@css(/_aisoul/layout/layout.css)-->
<header class="header prod-header" data-ez="module-0o84y8t-1">
    <div class="inner-m header-inner">
        <div class="h-left">
            <span module="Layout_MobileAction" class>
                <a href="#none" onclick="{$go_back}" class="back-btn"><i
                        class="sr-only">뒤로가기</i><!--@import(/svg/icon-go-back.html)--></a>
            </span>
            <div class="cart-wrap" module="Layout_shoppingInfo"><a href="/order/basket.html"><!--@import(/_aisoul/svg/cart.html)--><i class="sr-only">장바구니</i><strong>{$basket_cnt}<span class="{$use_basket_price|display}">({$basket_price})</span></strong></a>
            </div>
        </div>
        <h1 class="logo" module="Layout_LogoTop"><a href="/">{$mall_name}</a></h1>
        <div class="h-right">
            <button type="button" class="main-close"><!--@import(/_aisoul/svg/close.html)--><i
                    class="sr-only">닫기</i></button>
        </div>
    </div>
</header>
<!--#ez="1/2"-->